---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: All News
  order: 2
---
<h1>All news</h1>

<p>This is a collection of all the news items that have been posted on this website.</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
