---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Stop funding fossil fuels!</h1>

<p>
To the students, staff and the rest of the world DTU pretends to fight the climate crisis. But with their investments, they fund the exact same companies that are causing the crisis.
We want an end to the destruction of nature and communities world wide, and a university we can be proud of. These investments must stop now.
</p>

<p>> > <a href="{{ '/tags/event' | url }}"><b>Join the campaign</b></a> < <</p>


<p>
If you need a brush up on the state of the climate breakdown, the <a href="https://www.climaterealitycheck.net/">Climate Reality Check</a> is an excellent resource
</p>

{% set maxPosts = collections.posts.length | min(3) %}
<h2><i>Recent campaign news:</i></h2>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>All posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>

<p>Smaller news items are only posted on our <a href="https://facebook.com/DivestDTU/">facebook page</a>.</p>